<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>주문상품</th>
      <td>주문상품1</td>
    </tr>
    <tr>
      <th>이름</th>
      <td>이름1</td>
    </tr>
    <tr>
      <th>전화번호</th>
      <td>전화번호1</td>
    </tr>
    <tr>
      <th>주소</th>
      <td>주소1</td>
    </tr>
    <tr>
      <th>메모</th>
      <td>메모1</td>
    </tr>
  </tbody>
</table>
