<!DOCTYPE html>


<div id="body" align="center">
<div class="middle">
<div class="ordTitle">
    <h3 class="title">주문/결제</h3>
    <span class="steps">
      주문결제 &gt;
      <em>주문완료</em>
    </span>
  </div>
  </div>
  </div>
<div align="center">
    <img src="https://cdn.icon-icons.com/icons2/1508/PNG/512/anydo_104098.png">
    <table>
        
        <tr align="center">
          <td colspan="2"><h2>주문이 정상적으로 처리 되었습니다.</h2></td>
        </tr><br>
        <tr>
          <td>
            <button type="button" mat-raised-button color="primary" id="payBtn" (click)="orderList()">
              <h4>주문내역 보러가기</h4>
            </button>
          </td>
          <td>
            <button type="button" mat-raised-button color="primary" id="payBtn" (click)="contShop()">
              <h4>계속 쇼핑하기</h4>
            </button>
          </td>
        </tr>
      </table>
</div>
  
  

