<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="top_title" align="center">
  <div class="title" align="left">
    <h1>User Info Table</h1>
  </div>
</div>

<div class="middle_table" align="center">
    <table border="1">
      <thead>
        <tr align="center">
          <th>CHECK</th>
          <th>NO</th>
          <th>NAME</th>
          <th>ID</th>
          <th>TRANS</th>
          <th>EMAIL</th>
          <th>ADDR</th>
          <th>PHONE</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of userList | paginate: { itemsPerPage: 10, currentPage: p }">
        <tr align="center">
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" name="deleteCheck" id="deleteCheck" (click)="delUser(user.uiNum)">
              </label>
            </div>
          </td>
          <td>{{user.uiNum}}</td>
          <td>{{user.uiName}}</td>
          <td>{{user.uiId}}</td>
          <td>{{user.uiTrans}}</td>
          <td>{{user.uiEmail}}</td>
          <td>{{user.uiZipcode}} / {{user.uiAddr}} / {{user.uiAddr2}}</td>
          <td>{{user.uiPhone}}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <div class="bottom" align="right">
    <button (click)="userDelete()" class="btn btn-danger">삭제</button>
  </div>
</div>
