 <!-- <main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> Data Table</h1>
      <p>Table to display analytical data effectively</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item">Tables</li>
      <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table>
            <thead>
              <tr>
                <th>CHECK</th>
                <th>NO</th>
                <th>NAME</th>
                <th>ID</th>
                <th>TRANS</th>
                <th>EMAIL</th>
                <th>ADDR</th>
                <th>PHONE</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of userList">
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue">
                      Display value
                    </label>
                  </div>
                </td>

                <td>{{user.uiName}}</td>
                <td>{{user.uiId}}</td>
                <td>{{user.uiTrans}}</td>
                <td>{{user.uiEmail}}</td>
                <td>{{user.uiZipcode}} / {{user.uiAddr}} / {{user.uiAddr2}}</td>
                <td>{{user.uiPhone}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div align="right">
    <button (click)="deleteUser()">삭제</button>
  </div>
</main>  
 -->
<mat-table [dataSource]="dataSource">
<div>
  <thead>
    <th>book</th>
    <th>table</th>
    <th>shose</th>
  </thead>
  <tbody *ngFor="let user of userList">
    <td>user.ui</td>
  </tbody>
</div>>