<main class="app-content">
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> User Info Table</h1>
      <p>Table to display analytical data effectively</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <table border="1">
            <thead>
              <tr>
                <th>CHECK</th>
                <th>NO</th>
                <th>NAME</th>
                <th>ID</th>
                <th>TRANS</th>
                <th>EMAIL</th>
                <th>ADDR</th>
                <th>PHONE</th>
              </tr>
            </thead>
            <tbody *ngFor="let user of userList">
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" name="deleteCheck" id="deleteCheck">
                      {{user.uiNum}}
                    </label>
                  </div>
                </td>
                <td>{{user.uiNum}}</td>
                <td>{{user.uiName}}</td>
                <td>{{user.uiId}}</td>
                <td>{{user.uiTrans}}</td>
                <td>{{user.uiEmail}}</td>
                <td>{{user.uiZipcode}} / {{user.uiAddr}} / {{user.uiAddr2}}</td>
                <td>{{user.uiPhone}}</td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div align="right">
    <button (click)="deleteUser()" [(ngModel)]="user.uiNum">삭제</button>

  </div>
</main>
