<div align="center" id="topdiv">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900&display=swap&subset=korean" rel="stylesheet">
  <button mat-button (click)="goProd('노트북','product')" id="buttonFont">노 트 북</button>
  <button mat-button (click)="goProd('컴퓨터부품','product')" id="buttonFont">컴퓨터 부품</button>
  <button mat-button (click)="goProd('소프트웨어','product')" id="buttonFont">소프트웨어</button>
  <button mat-button (click)="goProd('모니터','product')" id="buttonFont">모 니 터</button>
<div align="right" *ngIf="userId">
  {{userId}}님 환영합니다.
</div>
</div>


