#topdiv{
  width: 80%;
  color: black;
  margin-left: 300px;
  vertical-align: middle;
}
#buttonFont{
  font-family: 'Gothic A1', sans-serif;
}
#rightDiv{

  height: 36px;
  float: right;
  width:20%;
}