<app-category></app-category>

<head>
  <meta charset="utf-8">

</head>
<!-- 카테고리를 전체를 감싸는 DIV -->
<div align="center">
  <!-- 카테고리 DIV -->
  <div class="Category_area" align="left">
    <h2>카테고리 <span style="font-family:noto-L">바로가기</span></h2>
    <!-- 카테고리 안에  ul을 감싸는 DIV -->
    <div class="category_wrap">
      <ul>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1007"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1007.jpg"></span><span
              class="cate_name">Samsung</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1205"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1205.jpg"></span><span
              class="cate_name">LG</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1076"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1076.jpg"></span><span
              class="cate_name">ASUS</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1078"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1078.jpg"></span><span
              class="cate_name">DELL</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1077"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1077.jpg"></span><span
              class="cate_name">레노버</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1258"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1258.jpg"></span><span
              class="cate_name">태블릿PC 케이스</span></a></li>
        <li><a href="../product/product_list.htm?BigDivNo=2&MediumDivNo=1259"><span class="circle cate_img"><img
                src="//image5.compuzone.co.kr/img/images/main2014/mid_category_img/category_1259.jpg"></span><span
              class="cate_name">태블릿PC 보호필름</span></a></li>
      </ul>
    </div>
  </div>
</div>
<!-- 카테고리 DIV 끝 -->

<div align="center">
  <div class="productList_area" id="ProductList">
    <div class="productList_title">
      <h2>노트북ㆍ태블릿</h2>
      <div class="option_box">
        <b style="padding-right:6px;">분류별 보기</b>
        <span class="select_comm_small" style="width:110px;">
          <select name="sel_mediumdiv" id="sel_mediumdiv"
            onChange="div_send(this,this.name,this.value,'sel_div','medium_div_compatibility',true)">
            <option>중분류</option>
            <option value="1007">노트북존</option>
            <option value="1205">태블릿/2in1 PC</option>
            <option value="1076">노트북용 가방</option>
            <option value="1078">노트북액세서리</option>
            <option value="1077">키스킨/보안기/보호필름</option>
            <option value="1258">태블릿PC 케이스</option>
            <option value="1259">태블릿PC 보호필름</option>
          </select>
        </span>
        <span class="select_comm_small" style="width:110px;">
          <select name="sel_div" id="sel_div">
            <option>소분류</option>
          </select>
        </span>
        <span class="ui_selectbox">
          <button type="button" class="submit_btn" onClick="go_list_page()">확인</button>
        </span>

      </div>
    </div>
    <div class="top_tab_area">
      <div class="tab_menu">
        <ul>
          <li class=""><a href="javascript:void(0);" class="tab_M"
              onClick="setProductListVal('PreOrder','low_price','M');">낮은가격순</a><i></i></li>
          <li class=""><a href="javascript:void(0);" class="tab_M"
              (click)="productFilter('pPriceTmp')">낮은가격순</a><i></i></li>
          <li class=""><a href="javascript:void(0);" class="tab_M"
              onClick="setProductListVal('PreOrder','sale_order','M');">인기상품순</a><i></i></li>
          <li class=""><a href="javascript:void(0);" class="tab_M"
              onClick="setProductListVal('PreOrder','new','M');">신규등록순</a><i></i></li>
        </ul>
      </div>

    </div>
  </div>

  <!-- 상품 테이블 -->
  <table class="pd_table" *ngFor="let pl of product | paginate: { itemsPerPage: 5, currentPage: p }">
    <tbody>
      <tr>
        <td style="width:180px;height:180px;" align="center">
          <img src="{{pl.pimageUri}}"(click)="goViewPage(pl.pnum)" alt="Image placeholder" style="width: 150px;height: 150px;cursor: pointer;border: 1px solid #eaeaea;">
        </td>
        <td style="height: 120px;padding: 10px 0 10px 10px;">
          <table style="width: 95%">
            <tbody>
            <tr>
              <td style="padding: 0 0 10px 0; color: #3d3d3d;font-size: 16px;font-weight: bold;cursor: pointer" (click)="goViewPage(pl.pnum)">
                {{pl.pname}}
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
            <tr>
              <td style="padding: 0 0 10px 0;color: #7c7c7c;text-decoration: none;cursor: pointer" (click)="goViewPage(pl.pnum)">
                  {{pl.pcontent}}
              </td>
            </tr>
            <tr>
              <td></td>
            </tr>
          </tbody>
          </table>
        </td>
        <td style="width:106px;height: 120px;padding: 0 15px 0 0;">
          <div align="right">
            <span class="red_bold">
              <span class="price">{{pl.pprice}}</span>원<br>
              <br style="line-height:10px">
            </span>
          </div>
        </td>
        <td width="91" height="120" style="padding-top: 3px;padding-bottom: 3px;padding-left: 3px;padding-right: 3px;">
          <div align="center">
            <a href="">
              <img src="http://www.commawang.co.kr/skin/shop/basic/images/bn/bsn_insertcart.gif" vspace="2">
            </a>
            <br>
            <a href="">
              <img src="http://www.commawang.co.kr/skin/shop/basic/images/bn/bsn_insertbuy.gif" vspace="2" align="absmiddle">
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagenation">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <!-- !상품 테이블 -->
