<app-category></app-category>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" type="text/css" href="/src/font/icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="/src/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/jquery-ui/themes/base/all.css">
    <link rel="stylesheet" type="text/css" href="/src/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/owl.carousel/owl.carousel/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/src/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/node_modules/aos/dist/aos.css">
    <link rel="stylesheet"  type="text/css" href="/src/css/style.css"> -->

  </head>

<h1>{{pLargeName}}</h1>
<mat-grid-list cols = "4" rowHeight = "200px" *ngFor="let pl of product | paginate: { itemsPerPage: 10, currentPage: p }">
    <mat-grid-tile
    [colspan] = "1"
    [rowspan] = "2"
    >

    <figure class="block-4-image">
      <img (click)="goViewPage(pl.pnum)" onmouseover="" style="cursor: pointer" src="{{pl.pimageUri}}" alt="Image placeholder" class="img-fluid">
    </figure>

    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "2"
    [rowspan] = "1">


    {{pl.pname}}<br>
    사양 : {{pl.pcontent}}
    </mat-grid-tile>
    <mat-grid-tile
    [colspan] = "1"
    [rowspan] = "2"><button>구매하기</button><button>찜하기</button>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "2"
    [rowspan] = "1"> 

    분류 : {{pl.plarge}} / {{pl.pmedium}}  가격 : {{pl.pprice}}

    </mat-grid-tile>
    
 </mat-grid-list>
<pagination-controls (pageChange)="p = $event"></pagination-controls>


  <html>
