.dkdk{
    background-color: rgb(235, 237, 245);
    
}
.example-button-row button{
    font-weight: bold;
}
ul{
    list-style: none;
}

div{
    display: block;
}
.productList_area .productList_title h2 {
    font-size: 24px;
    font-family: noto-B;
    letter-spacing: -1px;
    float: left;
    text-align: left;
}

.productList_area {
    margin-bottom: 60px;
    float: center;
    width: 1085px;
}

.productList_area .productList_title .option_box {
    color: #666;
    font-size: 14px;
    float: right;
    margin-top: 20px;
    padding: 0;
}

.top_tab_area {
    width: 1070px;
    float: center;
    box-sizing: 1070px;
}

.tab_menu {
    position: relative;
    width: 60%;
    height: 30px;
    float: center;
}

.tab_right {
    float: right;
    margin: 13px 16px 0 0;
}

.tab_menu li{
    float: left;
    line-height: 15px;
    box-sizing: border-box;
    display: list-item;
}

.productList_title {
    width: 100%;
    float: left;
    padding-bottom: 14px;
}

.Category_area {
    margin-bottom: 60px;
    font-family: 'spoqa M';
    width: 1085px;
}
/* test data */
.pd_table{
    width: 1200px;
    display: table;
    border-collapse: separate;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}
.red_bold {
    font-size: 12px;
    color: #e51937;
    font-weight: bold;
}
.price {
    font-size: 16px;
    color: #e51937;
    font-weight: bold;
}
/* 끝 */




.Product_table{
    margin-top: 200px;
    width: 1085px;
}

.category_wrap{
    margin-top: 34px;
    width: 1085px;
}

a:link{
    color: #222;
    text-decoration: none;
}

li{
    display: inline-block;
    text-align: center;
    position: relative;
    width: 120px;
    margin: 0 15px 15px 0;
}
.circle{
    position: relative;
    display: block;
    margin: 0 auto 10px;
}

.cate_img{
    width: 120px;
    height: 120px;
    vertical-align: middle;
    font-size: 0;
    border-radius: 50%;
    overflow: hidden;
}
.img-fluid{
    width: 250px;

}
.pagenation{
    margin: 50px;
} 