<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table" >
  
  <thead class="thead-light">
    <tr>
     
      <h2>공지사항</h2> <br> 
    
    </tr>
  
    
   
    <tr>
      <th scope="col" width=170 >번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성일</th>
      <th scope="col">작성자</th>
      <th scope="col">조회수</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nt of notice | paginate: { itemsPerPage: 10, currentPage: p };" >
      <td>{{nt.ntNum}}</td>
      <td  data-toggle="modal" data-target="#noticeView" (click)="showModalView(nt)" onmouseover="" style="cursor: pointer">{{nt.ntTitle}}</td>
      <td>{{nt.ntCredat}}</td>
      <td>{{nt.ntWriter}}</td>
      <td>{{nt.ntCount}}</td>
    </tr>
  </tbody>
  <tr >
    <td colspan="4" align="center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </td>
    <td colspan="1" align="end">
      <button mat-raised-button  color="primary" *ngIf=this.isWriteNotice data-toggle="modal" data-target="#noticeModal" (click)="showModal()">작성하기</button>
    </td>
  </tr>
</table>

     
  
  <!-- The Modal : INSERT NOTICE-->
  <div class="modal fade" id="noticeModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">공지사항 작성</h4>
            <button type="button" class="close" (click)="hideModal()">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body mb-3">
            <label>제목</label>
            <input type="text" name="lectureName" class="form-control mt-2 mb-3" maxlength="20"  id="ntTitle" [(ngModel)]="n.ntTitle" >
            <label>내용</label>
            <textarea name="evaluationContent" class="form-control mt-2" maxlength="2048" style="height:300px;" id="ntcontent" [(ngModel)]="n.ntContent" ></textarea>   
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" (click)="sendModal()" >등록</button>
            <button type="button" class="btn btn-outline-danger" (click)="hideModal()">취소</button>
    
            <!-- this button is hidden, used to close from typescript -->
            <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
          </div>
        </div>
      </div>
  </div>



    <!-- The Modal : NOTICE VIEW -->
    <div class="modal fade" id="noticeView">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">공지사항</h4>
            <button type="button" class="close" (click)="hideModal()">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body mb-3">
            <label>제목</label>
            <input disabled type="text" name="lectureName" class="form-control mt-2 mb-3" maxlength="20"  id="ntTitle" value="{{title}}">
            <label>내용</label>
            <textarea disabled name="evaluationContent" class="form-control mt-2" maxlength="2048" style="height:300px;" id="ntcontent">{{content}}</textarea>
            <input type="hidden" id="ntNum" value="ntNum">
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button"  *ngIf=this.isWriteNotice class="btn btn-outline-primary" (click)="deleteNotice()" >삭제</button>
            <button type="button"  class="btn btn-outline-danger" (click)="hideModal()">취소</button>
            
            
    
            <!-- this button is hidden, used to close from typescript -->
            <button type="button" id="close-modal1" data-dismiss="modal" style="display: none">Close</button>
          </div>
        </div>
      </div>
  </div>