
<div class="login-container">
        <h1>Login</h1>
    <mat-form-field>
      <input matInput id="uiId" [(ngModel)]="us.uiId" placeholder="아이디">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" id="uiPwd" [(ngModel)]="us.uiPwd" placeholder="비밀번호">
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="doLogin()">로그인</button>
    </div>
</div>

<div>
관리자 아이디 : admin
<br>
관리자 비밀번호 : admin
<br>
<br>
일반유저 아이디 : a1
<br>
일번유저 비밀번호 : asdf
</div>

<head>
  <meta charset="utf-8">
  <title>네이버 로그인</title>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
  <!-- 네이버아이디로로그인 버튼 노출 영역 -->
  <div id="naver_id_login">이게 뭡니까
  </div>
  <!-- //네이버아이디로로그인 버튼 노출 영역 -->
  <script type="text/javascript">

  </script>
  </body>
