
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="logo" href="">BTS SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <br>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="goPage('login')">login</button>
      <a href="/sign"><button type="button" class="btn btn-outline-success my-2 my-sm-0">Sign in</button> </a>
    </div>

  </div>

</nav>
