<div class="topline" style="background-color:#e2352d;">
  <div class="inner" style="width:1230px;">
    <a class="close_btn" onClick="$('.topline').slideUp(); bnrSetCookie('topline_bnr_20979_bnr_cook', 'bnr_cls_one', 365);" style="right:26px; color:#efd9d8;">오늘 하루 보지 않기 X</a>
    <a href="../event_zone/eventzone_view.htm?EventNo=20979&bannerid=ssgPayMainLineBnr"><img src="//image5.compuzone.co.kr/img/images/event/20979_toplineBnr.jpg" border="0" usemap="#Map29079"></a>
  </div>
</div>
<div class="topline" style="background-color:#f76f6fab;">
  <div class="inner" style="width:1230px; height:500px;">
  </div>
</div>