<div class="site-wrap">
  <header class="site-navbar" role="banner">
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="/product">노트북</a></li>
          <li><a href="/product">컴퓨터 부품</a></li>
          <li><a href="/product">소프트웨어</a></li>
          <li><a href="/product">모 니 터</a></li>
          <li><a href="/product">케 이 블</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- 메인화면 이미지 div -->
  <div class="site-blocks-cover" style="background-image:url(http://localhost:88/resources/images/lgnotebook.png)"
    data-aos="fade">
    <div class="container">
      <div class="row align-items-start align-items-md-center justify-content-end">
        <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
          <h1 class="mb-2">BTS Shop</h1>
          <div class="intro-text text-center text-md-left">
            <p class="mb-4">Welcome~ </p>
            <p>
              <a href="#" class="btn btn-sm btn-primary">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 위에까지가 메인화면 div 이미지입니다. -->
  <!-- 아래는 메인페이지 상품란 입니다. -->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <a id="view-code" href="https://codepen.io/virgilpana/pen/RNYQwB" target="_blank">VIEW CODE</a>

  <div id="make-3D-space">
    <div id="product-card">
      <div id="product-front">
        <div class="shadow"></div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt.png" alt="" />
        <div class="image_overlay"></div>
        <div id="view_details">View details</div>
        <div class="stats">
          <div class="stats-container">
            <span class="product_price">$39</span>
            <span class="product_name">Adidas Originals</span>
            <p>Men's running shirt</p>

            <div class="product-options">
              <strong>SIZES</strong>
              <span>XS, S, M, L, XL, XXL</span>
              <strong>COLORS</strong>
              <div class="colors">
                <div class="c-blue"><span></span></div>
                <div class="c-red"><span></span></div>
                <div class="c-white"><span></span></div>
                <div class="c-green"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="product-back">
        <div class="shadow"></div>
        <div id="carousel">
          <ul>
            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large.png" alt="" /></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large2.png" alt="" /></li>
            <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/t-shirt-large3.png" alt="" /></li>
          </ul>
          <div class="arrows-perspective">
            <div class="carouselPrev">
              <div class="y"></div>
              <div class="x"></div>
            </div>
            <div class="carouselNext">
              <div class="y"></div>
              <div class="x"></div>
            </div>
          </div>
        </div>
        <div id="flip-back">
          <div id="cy"></div>
          <div id="cx"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- 까지 상품란 -->

</div>

