<div class="site-wrap">
  <header class="site-navbar" role="banner">
    <nav class="site-navigation text-right text-md-center" role="navigation">
      <div class="container">
        <ul class="site-menu js-clone-nav d-none d-md-block">
          <li><a href="/product">노트북</a></li>
          <li><a href="/product">컴퓨터 부품</a></li>
          <li><a href="/product">소프트웨어</a></li>
          <li><a href="/product">모 니 터</a></li>
          <li><a href="/product">케 이 블</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="site-blocks-cover" style="background-image:url(http://localhost:88/resources/images/lgnotebook.png)" data-aos="fade">
    <div class="container">
      <div class="row align-items-start align-items-md-center justify-content-end">
        <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
          <h1 class="mb-2">BTS Shop</h1>
          <div class="intro-text text-center text-md-left">
            <p class="mb-4">Welcome~ </p>
            <p>
              <a href="#" class="btn btn-sm btn-primary">Shop Now</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

