<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="all-div">

  <div class="Topcontainer">
    <h2>상품 추가</h2>
  </div>

  <div class="container">
    <table class="table">

      <!-- 상품 이름 -->
      <tr>
        <th>
          <mat-label>상품이름</mat-label>
        </th>
        <td>
          <mat-form-field class="table-full-width">
            <input matInput id="pname" [(ngModel)]="pd.pname" placeholder="name">
          </mat-form-field>
        </td>
      </tr>

      <!-- 재고 -->
      <tr>
        <th>
          <mat-label>재고</mat-label>
        </th>
        <td>
          <mat-form-field class="table-full-width">
            <input type="number" id="pAmount" [(ngModel)]="pd.pamount" matInput placeholder="Amount">
          </mat-form-field>
        </td>
      </tr>

      <!-- 가격 -->
      <tr>
        <th>
          <mat-label>가격</mat-label>
        </th>
        <td>
          <mat-form-field class="table-full-width">
            <input type="number" id="pPrice" [(ngModel)]="pd.pprice" matInput placeholder="Price">
          </mat-form-field>
        </td>
      </tr>
      <br>
      <!-- 상품이미지 -->
      <tr>
        <th>
          <mat-label>상품이미지</mat-label>
        </th>
        <td>
          <input type="file" id="pImageFile" (change)="setFile($event)" [(ngModel)]="pd.pimageFile">

        </td>
      </tr>
      <br>
      <!-- 카테고리 분류 -->
      <tr>
        <th>
          <mat-label>카테고리 분류</mat-label>
        </th>
        <td>
          <mat-form-field>
            <mat-select placeholder="대분류" name="pLarge_level" (selectionChange)="pLargeLevelChangeAction(pLarge_level)"
              [(ngModel)]="pLarge_level">
              <mat-option *ngFor="let pLarge of pLargeList" [value]="pLarge.pLargeName">{{ pLarge.pLargeName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <!-- 카테고리 분류 중분류-->
      <tr>
        <td>
        </td>
        <td>
          <mat-form-field>
            <mat-select placeholder="중분류" name="exam_title" [(ngModel)]="exam_title">
              <mat-option *ngFor="let degreeTitle of degreeTitleList" [value]="degreeTitle">{{ degreeTitle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

      <!-- 카테고리 분류 소분류-->
      <tr>
        <td>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input matInput id="pSmall" [(ngModel)]="pd.psmall" placeholder="소분류">
          </mat-form-field>
        </td>
      </tr>



    </table>
  </div>
  <br>
  <div class="bottomcontainer">
    <button (click)="insertProduct()">등록</button>
  </div>
</div>