.container{
  display: flex;
  margin-top: 50px;
  margin-left: 10%
}

.table-full-width {
  width: 100%;
}

td {
  padding-right: 50px;
}
.example-container {
  display:  flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.radio-container > * {
  width: 100%;
}

.example-form {
  min-width: 500px;
  max-width: 500px;
  width: 70%;
}

.example-full-width {
  width: 100%;
}