<div class="container">
  <table class="table-full-width" cellspacing="0">

    <tr>
      <td>
        <mat-label>이름</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input matInput placeholder="Your Name">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>아이디</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input type="text" id="ssuiId" [(ngModel)]="ss.uiId" matInput placeholder="ID">
        </mat-form-field>
        &nbsp; &nbsp; &nbsp;
        <button mat-fab color="primary" (click)="checkId()">중복확인</button>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>비밀번호</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input type="password" matInput placeholder="PASSWORD" id="ssuiPwd" [(ngModel)]="ss.uiPwd" required>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>비밀번호 확인</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input type="password" matInput placeholder="PASSWORD" id="ssuiPwd2" [(ngModel)]="uiPwd2">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>E-Mail</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input matInput placeholder="Enter your email" [formControl]="email" required id="ssuiEmail"
            [(ngModel)]="ss.uiEmail">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>우편번호</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <textarea disabled matInput placeholder="zipCode" id="ssuiZipcode" [(ngModel)]="ss.uiZipcode"></textarea>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <btn-daum-address (result)="setDaumAddressApi($event)" [options]="daumAddressOptions"></btn-daum-address>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>주소</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <textarea disabled matInput placeholder="Address" id="ssuiAddr" [(ngModel)]="ss.uiAddr"></textarea>
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>상세주소</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <input type="text" matInput placeholder="Address 2" id="ssuiAddr2" [(ngModel)]="ss.uiAddr2">
        </mat-form-field>
      </td>
    </tr>

    <tr>
      <td>
          <mat-label>성별 </mat-label>
      </td>
      <td>
          <mat-radio-group formControlName="floatLabel">
            <mat-radio-button value="1">남자 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</mat-radio-button>
            <mat-radio-button value="2">여자</mat-radio-button>
          </mat-radio-group>
      </td>
    </tr>

    <tr>
      <td>
        <mat-label>핸드폰번호</mat-label>
      </td>
      <td>
        <mat-form-field class="table-full-width">
          <span matPrefix>+82 &nbsp;</span>
          <input type="tel" matInput placeholder="Telephone" id="ssuiPhone" [(ngModel)]="ss.uiPhone">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      </td>
    </tr>


    <tr>
      <td colspan="3" align="center"> <button mat-raised-button color="primary" (click)="sign()">회원가입</button> </td>
    </tr>
  </table>

</div>



<!-- 

  <table id="sign">
    <tr>
      <td> <label for="ssuiName">이름</label></td>
      <td colspan="2"><input type="text" style="width: 300px;" id="ssuiName" [(ngModel)]="ss.uiName" autofocus><br></td>
    </tr>
    <tr>
      <td> <label for="ssuiId">아이디</label></td>
      <td><input type="text" style="width: 300px;" id="ssuiId" [(ngModel)]="ss.uiId"><br></td>
      <td><button (click)="checkId()">중복확인</button></td>
    </tr>
    <tr>
      <td><label for="ssuiPwd">비밀번호</label></td>
      <td colspan="2"><input type="password" style="width: 300px;" id="ssuiPwd" [(ngModel)]="ss.uiPwd"></td>
    </tr>
    <tr>
      <td><label for="ssuiPwd2">비밀번호 확인</label></td>
      <td><input type="password" style="width: 300px;" id="ssuiPwd2" [(ngModel)]="uiPwd2"> 영문+숫자+특수기호 8자리 이상으로 구성하여야
        합니다. / 비밀번호는 ID를 포함할 수 없습니다.</td>
      <td><button (click)="checkPwd()">비밀번호 확인</button></td>
    </tr>
    <tr>
      <td><label for="ssuiAge">성별</label></td>
      <td colspan="2"><select id="ss.uiTrans" [(ngModel)]="ss.uiTrans">
          <option value="1">남자</option>
          <option value="2">여자</option>
        </select></td>
    </tr>
    <tr>
      <td><label for="ssuiEmail">Email</label></td>
      <td colspan="2"><input type="email" style="width: 300px;" id="ssuiEmail" [(ngModel)]="ss.uiEmail"></td>
    </tr>
    <tr>
      <td><label for="ssuiZipcode">우편번호</label></td>
      <td><input disabled type="text" id="ssuiZipcode" [(ngModel)]="ss.uiZipcode"></td>
      <td>

        <btn-daum-address (result)="setDaumAddressApi($event)" [options]="daumAddressOptions"></btn-daum-address>
      </td>
    </tr>
    <tr>
      <td><label for="ssuiKoaddress">주소</label></td>
      <td colspan="2"><input disabled type="text" style="width: 300px;" id="ssuiAddr" [(ngModel)]="ss.uiAddr"></td>
    </tr>
    <tr>
      <td><label for="ssuiEnaddress">상세주소</label></td>
      <td colspan="2"><input type="text" style="width: 300px;" id="ssuiAddr2" [(ngModel)]="ss.uiAddr2"></td>

    </tr>

    <tr>
      <td><label for="ssuiPhone">핸드폰번호</label></td>
      <td colspan="2">
        <input type="text" style="width: 300px;" id="ssuiPhone" [(ngModel)]="ss.uiPhone"></td>
    </tr>
    <tr>
      <td colspan="3" align="center"> <button (click)="sign()" class="button button2">회원가입</button> </td>
    </tr>
  </table>
</div>  -->