<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container">
    
    <table class="table-full-width" cellspacing="0">
  
      <tr>
        <td>
          <mat-label>이름</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input matInput placeholder="Your Name" [(ngModel)]="ss.uiName">
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>아이디</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input type="text" id="ssuiId" [(ngModel)]="ss.uiId" matInput placeholder="ID">
          </mat-form-field>
          &nbsp; &nbsp; &nbsp;
          <button mat-fab color="primary" (click)="checkId()">중복확인</button>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>비밀번호</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input type="password" matInput placeholder="PASSWORD" id="ssuiPwd" [(ngModel)]="ss.uiPwd" required>
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>비밀번호 확인</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input type="password" matInput placeholder="PASSWORD" id="ssuiPwd2" [(ngModel)]="uiPwd2">
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>E-Mail</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input matInput placeholder="Enter your email" [formControl]="email" required id="ssuiEmail"
              [(ngModel)]="ss.uiEmail">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>우편번호</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <textarea disabled matInput placeholder="zipCode" id="ssuiZipcode" [(ngModel)]="ss.uiZipcode"></textarea>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <btn-daum-address (result)="setDaumAddressApi($event)" [options]="daumAddressOptions"></btn-daum-address>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>주소</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <textarea disabled matInput placeholder="Address" id="ssuiAddr" [(ngModel)]="ss.uiAddr"></textarea>
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>상세주소</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <input matInput placeholder="Address 2" id="ssuiAddr2" [(ngModel)]="ss.uiAddr2">
          </mat-form-field>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>성별 </mat-label>
        </td>
        <td>
            <!-- <mat-radio-group formControlName="floatLabel" id="ssuiTrans" [(ngModel)]="ss.uiTrans">
              <mat-radio-button value="1">남자 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</mat-radio-button>
              <mat-radio-button value="2">여자</mat-radio-button>
            </mat-radio-group> -->
            <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" value="1" class="form-check-input" [(ngModel)]="ss.uiTrans">남자&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="radio" value="2" class="form-check-input" [(ngModel)]="ss.uiTrans">여자
                </label>
              </div>
        </td>
      </tr>
  
      <tr>
        <td>
          <mat-label>핸드폰번호</mat-label>
        </td>
        <td>
          <mat-form-field class="table-full-width">
            <span matPrefix>+82 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone" id="ssuiPhone" [(ngModel)]="ss.uiPhone">
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </td>
      </tr>
  
  
      <tr>
        <td colspan="3" align="center"> <button mat-raised-button color="primary" (click)="sign()">회원가입</button> </td>
      </tr>
    </table>
  
  </div> 
