<div class="container">
  <table border="1" >
    <tr>
      <th>No</th>
      <th>이름</th>
      <th>수량</th>
      <th>가격</th>
      <th>이미지</th>
      <th>생성일</th>
      <th>대분류</th>
      <th>중분류</th>
      <th>소분류</th>
    </tr>
    <tbody>
      <tr *ngIf="productList.length==0">
        <td colspan="4">조회된 내용이 없습니다.</td>
      </tr>
      <tr *ngFor="let pl of productList">
        <td>{{pl.pnum}}</td>
        <td>{{pl.pname}}</td>
        <td>{{pl.pamount}}</td>
        <td>{{pl.pprice}}</td>
        <td><img src="{{imgurl}}{{pl.pimageUri}}"></td>
        <td>{{pl.pcredat}}</td>
        <td>{{pl.plarge}}</td>
        <td>{{pl.pmedium}}</td>
        <td>{{pl.psmall}}</td>
      </tr>
    </tbody>
  </table>
</div>