.body{
    width: 1020px;
    margin: 0 auto 20px;
}
/* 전체 화면 */
#body .middle {
    clear: both;
    padding: 0 0 40px;
    background: #fff;
}
.ordTitle {
    margin-top: 10px;
    width:60%;
    height: 70px;
    overflow: hidden;
    border-bottom: 3px solid #777;
}
.ordTitle .title {
    float: left;
    margin-top: 5px;
    padding-left: 0;
    line-height: 70px;
    font-size: 30px;
    color: #111;
}
.ordTitle .steps {
    float: right;
    padding-right: 5px;
    margin-top: 20px;
    line-height: 50px;
    font-size: 15px;
    color: #bbb;
    font-weight: bold;
}
.ordTitle .steps em {
    font-weight: bold;
    color: #346aff;
}
.customer__root {
    margin-top: 30px;
}
.customer__h2 {
    width:60%;
    padding-left: 2px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
/* 구매자정보 위에 css 끝 */
/* 공통 */
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
body, input, textarea, select, button, table {
    font-family: 돋움, Dotum, sans-serif;
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 구매자정보 css */
.customer__table {
    width: 60%;
    border-top: 2px solid #cecece;
}
.customer__col--1 {
    width: 150px;
    border: solid #e4e4e4;
    border-width: 0 1px 1px 0;
    padding: 7px 10px 7px 15px;
    font-weight: 700;
    text-align: right;
    background: #f4f4f4;
}
.customer__col--2 {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 16px;
}
/* 받는사람정보 css */
.delivery-address__caption-header {
    width:60%;
    padding-left: 2px;
    margin: 30px 0 8px;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
}

.delivery-address__popup-list-button {
    margin-left: 5px;
    vertical-align: middle;
    padding: 4px 8px;
    border: 1px solid #999;
    color: #333;
    border-radius: 2px;
    box-shadow: 0 -2px 0 rgba(0,0,0,0.1) inset;
    font-size: 11px;
    font-family: 돋움, Dotum, sans-serif;
}
/* 배송지변경 테이블 */
.delivery-address {
    border-top: 2px solid #cecece;
    width: 60%;
}
.delivery-address__th {
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 10px 7px 15px;
    width: 104px;
    background-color: #f4f4f4;
    text-align: right;
}
.delivery-address__td--name {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}
.delivery-address__td {
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0 10px 16px;
}
.delivery-address__name {
    margin-right: 5px;
}
.delivery-address__td-rocket-fresh-mvp2 .delivery-address__type-label {
    color: #555;
    border-color: #555;
}
.delivery-address__type-label, .delivery-address__type__rocket-fresh, .delivery-address__type__wow {
    display: inline-block;
    height: 13px;
    margin-left: 2px;
    padding: 2px 2px 0;
    font-size: 11px;
    font-family: dotum,sans-serif;
    line-height: 12px;
    vertical-align: middle;
}
.delivery-address__type-label {
    border: 1px solid #00891a;
    border-radius: 8px;
    color: #00891a;
}

.delivery-address__th--no-line {
    border-bottom: 0;
}
.delivery-address__td--no-line {
    border-bottom: 0;
}