<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-hover" >
  
  <thead class="thead-light">
    <tr>
    <td colspan="7">
      <h2>장바구니</h2> <br> 
    </td>
    </tr>


    <tr>
      <th  width="30"></th>
      <th  align="center" >장바구니 번호</th>
      <th scope="col" width="100" colspan="2" >상품명</th>
      <th scope="col"  width="120">상품 가격</th>
      <th scope="col">수량</th>
      <th scope="col">총 가격</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cart;" >
      <td  align="center">
          <input type="checkbox" aria-label="Checkbox for following text input">
      </td>
      <td align="center">{{c.cid}}</td>
      <td><img src="{{c.pimageUri}}" width="50px"></td>
      <td>{{c.pname}}</td>
      <td align="cenger">{{c.pprice}}원</td>
      <td align="center"><input type="text" style=width:20px; [(ngModel)]="c.camount"><button (click)="amountChange(c.cid, c.camount,c.pnum)">변경</button></td>
      <td align="center">{{c.cprice}}원</td>      
      
    </tr>
  </tbody>
  
  <tr>
    <td colspan="2">
        <br><h3>총 결제금액 </h3>
    </td>
    <td colspan="5" align="end">
        <br><h3>{{totalPrice}}원</h3>
    </td>
  </tr>
 
</table>

