<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-hover" style="margin-left:150px">
  
  <thead class="thead-light">
    <tr>
    <td colspan="7">
      <h2 style="margin: 30px">장바구니</h2>
    </td>
    </tr>


    <tr align="center">
      <th  width="30"></th>
      <th  align="center" style="vertical-align: middle">장바구니 번호</th>
      <th scope="col" width="200" colspan="2" >상품명</th>
      <th scope="col"  width="120">상품 가격</th>
      <th>수량</th>
      <th>총 가격</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of cart;" align="center" style="height: 10px;">
      <td style="vertical-align:middle">
          <input type="checkbox" aria-label="Checkbox for following text input" (click)="checkInfo(c.cid)">
      </td>
      <td align="center">{{c.cid}}</td>
      <td><img src="{{c.pimageUri}}" width="50px"></td>
      <td>{{c.pname}}</td>
      <td align="cenger">{{c.pprice}}원</td>
      <td width="300">
        <input class="form-control form-control-sm" style=width:65px; type="text"[(ngModel)]="c.camount">
        <button class="btn btn-outline-success" (click)="amountChange(c.cid, c.camount,c.pnum)">변경</button></td>
      <td align="center">{{c.cprice}}원</td>      
      
    </tr>
  </tbody>
  <tr>
    <td colspan="3">
        <br><h3>총 결제금액 </h3>
    </td>
    <td colspan="4" align="end">
        <br><h3>{{totalPrice}}원</h3>
    </td>
  </tr>
  <tr>
    <td colspan="2">
        <button mat-stroked-button (click)="doDelete()">선택삭제</button>
    </td>
     
       
    <td colspan="5" align="end"> 
        <button mat-raised-button color="primary">주문하기</button>
    </td>
  </tr>
 
</table>
