<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>상품관리</h2>
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>대분류</th>
        <th>중분류</th>
        <th>소분류</th>
        <th>Amount</th>
        <th>Credat</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     <tr *ngFor="let pd of productList | paginate: { itemsPerPage: 10, currentPage: p }">
       <td>{{pd.pnum}}</td>
       <td><img src="{{pd.pimageUri}}" width="50px"></td>
       <td>{{pd.pname}}</td>
       <td style="width: 100px">{{pd.plarge}}</td>
       <td>{{pd.pmedium}}</td>
       <td style="width: 100px">{{pd.psmall}}</td>
       <td>{{pd.pamount}}</td>
       <td>{{pd.pcredat}}</td>
       <td><button mat-raised-button onmouseover="" style="cursor: pointer" (click)="deleteProduct(pd.pnum)">삭제</button></td>
     </tr>
    </tbody>
  </table>
  <div align="center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>

</body>